---
layout: default
title: Home
class: home-page
---

</div>

<div class="jumbotron">
  <div class="container">
    <div class="col-sm-12">
      <div class="logo"></div>
    </div>
  </div>
</div>

<div class="container">

  <div class="col-sm-12">
    <h1 class="slogan">Multimodal trip planning &amp; analysis</h1>
    <p>OpenTripPlanner produces itineraries including pedestrian, bike, transit, and car components. These are the basis for a wide range of passenger information and transportation network analysis features.</p>
  </div>

  <hr>

  <ul class="nav nav-pills nav-justified">
    <li><a href="/blog"><i class="fa fa-comments"></i> Blog</a></li>
    <li><a href="http://github.com/opentripplanner"><i class="fa fa-code"></i> Code</a></li>
    <li><a href="https://github.com/opentripplanner/OpenTripPlanner/wiki"><i class="fa fa-info"></i> Docs</a></li>
    <li><a href="https://groups.google.com/forum/#!forum/opentripplanner-users"><i class="fa fa-question"></i> Support</a></li>
  </ul>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <a href="/otp"><h1>OpenTripPlanner</h1></a>
      <p>OpenTripPlanner (OTP) is an open source platform for multi-modal and multi-agency journey planning. It follows a client-server model, providing several map-based web interfaces as well as a REST API for use by third-party applications. OTP relies on open data standards including GTFS for transit and OpenStreetMap for street networks. Launched in 2009, the project has attracted a thriving community of users and developers, receiving support from public agencies, startups, and transportation consultancies alike. OTP deployments now exist around the world and OTP is also the routing engine behind several popular smartphone applications.</p>
      <a href="/otp">LEARN MORE</a>
      <hr>
    </div>
    <div class="col-sm-6">
      <a href="/analyst"><h1><i class="fa fa-bar-chart-o"></i> OTP <strong>Analyst</strong></h1></a>
      <p>OTP Analyst goes beyond passenger information, applying OpenTripPlanner's routing engine to problems in transportation planning, public policy, and the social sciences. The transit system model and optimization logic originally developed for point-to-point searches has been extended to support one-to-many and many-to-many queries in large batches, a foundation upon which we have built a wide range of analytical tools enabling data-driven decision making, alternatives analysis, and public outreach around service changes and infrastructure development. This functionality is built into OTP and available "out of the box" as part of any trip planning deployment.</p>
      <a href="/analyst">LEARN MORE</a>
      <hr>
    </div>
  </div>

  <ul class="row posts posts-small">
    {% for post in site.posts %}
      {% if post.front_page %}
        <li class="col-sm-6 post">
          <a href="{{ post.url }}" title="{{ post.title }}">
            <img data-email="{{ post.email }}" data-size="100" class="gravatar" title="{{ post.author }}">
            <h3 class="post-title">{{ post.title }}</h3>
            <span class="author">By {{ post.author }}</span>
            <span class="date">{{ post.date | date_to_string }}</span>
            <p>{{ post.excerpt }}</p>
            <hr>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
