---
layout: default
title: Home
class: home-page
---

</div>

<div class="jumbotron">
  <div class="container">
    <div class="col-sm-12">
      <div class="logo"></div>
    </div>
  </div>
</div>

<div class="container">

  <div class="col-sm-12">
    <h1 class="slogan">Multimodal trip planning &amp; analysis</h1>
    <p>OpenTripPlanner (OTP) is the leading open source platform for multimodal trip planning and network analysis. Launched in 2009, the project has since attracted a thriving community of users and developers with deployments around the world. OTP is also the routing engine behind several popular smartphone applications.</p>
  </div>

  <hr>

  <ul class="nav nav-pills nav-justified">
    <li><a href="/blog"><i class="fa fa-comments"></i> Blog</a></li>
    <li><a href="http://github.com/opentripplanner"><i class="fa fa-code"></i> Code</a></li>
    <li><a href="https://github.com/opentripplanner/OpenTripPlanner/wiki"><i class="fa fa-info"></i> Docs</a></li>
    <li><a href="https://groups.google.com/forum/#!forum/opentripplanner-users"><i class="fa fa-question"></i> Support</a></li>
  </ul>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <h1>OpenTripPlanner</h1>
      <p>OpenTripPlanner (OTP) provides an open source platform for multi-modal and multi-agency journey planning. OTP allows users to combine information about pedestrian, bike and transit journeys via a built-in web interface and for third-party applications by leveraging a public Application Programing Interface (API). OTP relies on open data standards for both transit and street network information. Any agency with a General Transit Feed Specification (GTFS) data set can run OTP.</p>
      <a href="/about">LEARN MORE</a>
      <hr>
    </div>
    <div class="col-sm-6">
      <h1><i class="fa fa-bar-chart-o"></i> OTP <strong>Analyst</strong></h1>
      <p>There is increasing interest in applications of OTP that go beyond the original objective of rider-oriented, point-to-point itinerary planning. In particular, there is a growing focus on data-driven decision making in the transportation policy arena, accompanied by an increasing demand for robust, adaptable software tools that can support this activity. The core functions of transit system modeling and routing logic developed for the existing OTP project have been leveraged to support a wide range of analytical tools as well.</p>
      <a href="/analyst">LEARN MORE</a>
      <hr>
    </div>
  </div>

  <ul class="row posts posts-small">
    {% for post in site.posts %}
      {% if post.front_page %}
        <li class="col-sm-6 post">
          <a href="{{ post.url }}" title="{{ post.title }}">
            <img data-email="{{ post.email }}" data-size="100" class="gravatar" title="{{ post.author }}">
            <h3 class="post-title">{{ post.title }}</h3>
            <span class="author">By {{ post.author }}</span>
            <span class="date">{{ post.date | date_to_string }}</span>
            <p>{{ post.excerpt }}</p>
            <hr>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
