
{% include header.html %}

<div class="row">
  <div class="col-sm-12 post">
    <img class="gravatar" data-email="{{ page.email }}" title="{{ page.author }}">
    <h2 class="post-title">{{ page.title }}</h2>
    <span class="author">By {{ page.author }}</span>
    <span class="date">{{ page.date | date_to_string }}</span>
  </div>
  <article class="col-sm-12">{{ content }}</article>
  <div class="col-sm-12 article-footer">
    <hr>
    <a href="/blog">SEE ALL POSTS</a></p>
  </div>
</div>
<br>

{% include footer.html %}
